---
title: Eleventy elements
layout: base
date: 2023-01-02
tags: [primary, item]
---

{% for element in elements %}
<h2>{{ element.category }}</h2>
<p>{{ element.catDescription }}</p>
<ul>
    {% for item in element.items %}
    <li><a href="{{ item.link }}">{{ item.id }}</a>: {{ item.idDescription }}</li>
    {% endfor %}
</ul>
{% endfor %}